<!doctype html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <picture>
      <source srcset="<%= image_path 'original.jpg', resize_to: '20x20' %>" media="(min-width: 900px)">
      <%= image_tag 'original.jpg', resize_to: '10x10>', class: 'image-resized-to10x10', alt: 'Original.10x10gt' %>
    </picture>
    <picture>
      <source srcset="<%= image_path 'original.jpg', resize_to: '15x15' %>" media="(min-width: 900px)">
      <%= image_tag 'original.jpg', resize_to: '5x5', class: 'image-resized-to5x5', alt: 'Original.5x5' %>
    </picture>
  </body>
</html>