<!doctype html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <picture>
      <source srcset="<%= image_path 'original.jpg' %>" media="(min-width: 900px)">
      <%= image_tag 'original.jpg', alt: 'Original' %>
    </picture>
  </body>
</html>