<!doctype html>
<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <%= image_tag 'original.jpg', resize_to: '10x10>', class: 'image-resized-to10x10' %>
    <%= image_tag 'original.jpg', resize_to: '5x5', class: 'image-resized-to5x5' %>
  </body>
</html>